<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215229729191-ecmhmg8j2lfbtsvu6msfj8h4em10eu1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215229729191-ecmhmg8j2lfbtsvu6msfj8h4em10eu1b</string>
	<key>API_KEY</key>
	<string>AIzaSyDIfE7SlrcrNDGdktgk06U6qw1bjyLHEjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>215229729191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ziyad.quizAppZiyad</string>
	<key>PROJECT_ID</key>
	<string>quiz-app-ziyad</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-app-ziyad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215229729191:ios:1f4120b9863b79101f4e82</string>
</dict>
</plist>